.our-us__section__article--p {
    font-family: 'Bellota Text', cursive;
}

.our-us__section--title {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    color: rgb(20, 31, 18);
}

.our-us__section {
    background-color: rgb(54, 84, 49);;
}

.our-us__section__article--h4 {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.first-wave {
    margin-bottom: -.1rem;
}

.second-wave {
    margin-top: -.1rem;
}
